<!DOCTYPE html>
<html>

<head>
    <!-- Favicon-->
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.png' )}}">
    <title>faceit :: Sign up</title>
    <script src="https://webrtc.github.io/adapter/adapter-latest.js"></script>
    <link rel="stylesheet" href="{{ url_for('static',filename='css/bootstrap.css') }}">
</head>
<style>
    /* mirror the image */

    video,
    canvas {
        transform: scale(-1, 1);
        /*For Firefox (& IE) */
        -webkit-transform: scale(-1, 1);
        /*for Chrome & Opera (& Safari) */
    }
</style>
<style type ="text/css">
#banner {
            height: 40%;
            width: 105%;
            background-color: black;

        }

#banner_tag {
    padding: 10px;
    position: relative;
    color: white;
    margin-left: 35%;
}

#myVideo{
    position: relative;
    border: 2px solid black;
    width: 30% ;
    height: 40%;
}

</style>
<body>
    <div id="banner" class="row fullscreen">
        <h2 id="banner_tag">Welcome to the Future </h2>
    </div>
            
    <div id ="face-input">
        <video id="myVideo"  autoplay></video>
    </div>
    <button id="button" style="vertical-align:middle">
        <span>Face log in</span>
    </button>

    <script>

        let v = document.getElementById("myVideo");
        let b = document.getElementById("button");
        //create a canvas to grab an image for upload
        let imageCanvas = document.createElement('canvas');
        let imageCtx = imageCanvas.getContext("2d");

        //Add file blob to a form and post
        function postFile(file) {
            let formdata = new FormData();
            formdata.append("image", file);
            let xhr = new XMLHttpRequest();
            xhr.open('POST', 'http://localhost:5000/predict', true);
            xhr.onload = function () {
                if (this.status === 200) {
                    var data = JSON.parse(this.responseText);

                    console.log(this.response);
                    console.log(data['face_present']);
                    console.log(data["identity"]);
                    console.log(data['registered']);
                    console.log(data['min_dist']);
                    //document.getElementById("bounded").innerHTML = " <img style='position:absolute' height=50% width=50% src= \"{{ url_for('static', filename='saved_images/bounded.jpg') }}\" alt ='' />";

                }
                else {
                    console.error(xhr);
                }
            };

            xhr.send(formdata);

        }

        //Get the image from the canvas
        function sendImagefromCanvas() {

            //Make sure the canvas is set to the current video size
            imageCanvas.width = v.videoWidth;
            imageCanvas.height = v.videoHeight;

            imageCtx.drawImage(v, 0, 0, v.videoWidth, v.videoHeight);

            //Convert the canvas to blob and post the file
            imageCanvas.toBlob(postFile, 'image/jpeg');
        }

        //Take a picture on click
        v.onclick = function () {
            console.log('click');
            sendImagefromCanvas();
        };

        //Take a picture on click
        b.onclick = function () {
            console.log('click');
            sendImagefromCanvas();
        };
        window.onload = function () {

            //Get camera video
            navigator.mediaDevices.getUserMedia({ video: { width: 1280, height: 720 }, audio: false })
                .then(stream => {
                    v.srcObject = stream;
                })
                .catch(err => {
                    console.log('navigator.getUserMedia error: ', err)
                });

        };

    </script>
</body>

</html>